.sectionApp {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

/* Ajuste general del contenedor */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Por defecto, 2 columnas */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.aboutUs {
    max-width: 1160px;
    margin: 0 auto;
    background: linear-gradient(90deg, #f1f6f6, #e4fcfc);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aboutUs:hover {
    transform: translateY(-10px); /* Efecto de elevación al pasar el cursor */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.aboutUs h3 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 10px;    
}

.aboutUs p {
    font-size: 1.2rem;
    color: #000000;
    line-height: 1.6;   
    margin-bottom: 20px;   
    text-align: justify;    
    text-justify: inter-word;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/* Diseño de las tarjetas */
.container .mission, .container .vission {
    background: linear-gradient(90deg, #f1f6f6, #e4fcfc);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container .mission:hover, .container .vission:hover {
    transform: translateY(-10px); /* Efecto de elevación al pasar el cursor */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.mission h3, .vission h3 {
    font-size: 1.6rem;
    color: #000000;
    margin-bottom: 10px;
}

.mission p, .vission p {
    font-size: 1.2rem;
    color: #000000;
    line-height: 1.6;   
    margin-bottom: 20px;   
    text-align: justify;    
    text-justify: inter-word;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/* Diseño responsivo */

/* Para pantallas medianas (tabletas y similares) */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Una columna en dispositivos más pequeños */
        gap: 20px;
    }
}

/* Para pantallas grandes */
@media (min-width: 1024px) {
    .sectionApp {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-columns: repeat(2, 1fr); /* Mantener 2 columnas en pantallas grandes */
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }
}
