.sectionApp{
    padding: 10px 20px;
    border-radius: 10px;
}

.sectionApp .aboutUs{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.aboutUs h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.aboutUs p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.sectionApp .aboutUs h3{
    font-size: 1.8rem;
    color: #333;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.mission, .vission{
    background-color: #fffcfc;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.mission h3, .vission h3{
    font-size: 1.6rem;
    color:#333;
    margin-bottom: 10px;
}

.mission p, .vission p{
    font-size: 1rem;
    color:#333;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}