.headerApp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #007BFF, #00D4FF);
    padding: 15px 30px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerApp .logo img{
    height: 80px;
    cursor: pointer;
}

.headerApp .content ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerApp .content ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.headerApp .content ul li a:hover{
    color: #f3c6f2;
}

@media (max-width: 768px) {
    .headerApp {
        flex-direction: column;
        text-align: center;
    }

    .headerApp .content ul {
        flex-direction: column; 
        gap: 10px;
    }
}

